body {
    font-family: Verdana, sans-serif;
}

.logo {
    font-family: "Lily Script One", cursive;
}

.navbar-end a{
    font-family: 'Playfair Display', serif;
}

a .author {
    color: white;
}

a .author:hover {
    opacity: 0.5;
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 760px) {
    .sidebar {
        display: none;
    }
}