{% extends "base/base.html" %}

{% block title %}Confirm delete{% endblock title %}

{% block navbar %}
	{% include 'base/navbar.html' %}
{% endblock navbar %}
    
{% block main %}
<div class="content">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="field">
            <legend class="mb-4">
                Are you sure you want to delete that comment?
            </legend>
        </fieldset>
        <div class="field">
            <button class="button is-outlined" type="submit">Delete</button>
            <a class="button is-outlined is-light" style="margin-left: 20px;" href="javascript:history.back()">Cancel</a>
        </div>
    </form>
</div>

{% endblock main %}
