{% extends "base/base.html" %}
{% load posts_extras %}
{% block title %} {{ object.title }} {% endblock title %}


{% block navbar %}
{% include 'base/navbar.html' %}
{% endblock navbar %}

{% block main %}
<div class="box">
	<article class="media">
		<div class="media-left">
			{% if user|has_upvoted_post:object %}
			<div class="icon has-text-centered"><a style="color:  #f48024;"
					href="{% url 'posts:post_vote' object.id 1 %}"><i class="fa fa-arrow-up"></i></a></div>
			{% else %}
			<div class="icon has-text-centered"><a style="color:  #131010;"
					href="{% url 'posts:post_vote' object.id 1 %}"><i class="fa fa-arrow-up"></i></a></div>
			{% endif %}
			<div class="has-text-centered">{{ object|net_upvotes }}</div>
			{% if user|has_downvoted_post:object %}
			<div class="icon has-text-centered"><a style="color:  #f48024;"
					href="{% url 'posts:post_vote' object.id 0 %}"><i class="fa fa-arrow-down"></i></a></div>
			{% else %}
			<div class="icon has-text-centered"><a style="color:  #131010;"
					href="{% url 'posts:post_vote' object.id 0 %}"><i class="fa fa-arrow-down"></i></a></div>
			{% endif %}
		</div>
		<div class="media-content">
			<div class="content">
				<nav class="level">
					<div class="level-left">
						<div class="level-item">
							<a
								href="{% url 'users:profile' post.author.username %}"><strong>{{ object.author }}</strong></a>
							<small>{{ object.datePosted|date:"F d, Y" }}</small>
						</div>
					</div>
					{% if object.author == request.user %}
						<div class="level-right">
							<a href="{% url 'posts:post_update' object.id %}">
								<button class="button is-white" aria-haspopup="true" aria-controls="options">
									<div class="icon">
										<i class="fas fa-ellipsis-v"></i>
									</div>
								</button>
							</a>						
						</div>
					{% endif %}
				</nav>
				<h3 class="title is-3">{{ object.title }}</h3>
				{{ object.content|safe }}
			</div>
		</div>
	</article>
</div>
<nav class="level">
	<div class="level-left">
		<h4>{{ object.comment_set.count }} Comment{{ object.comment_set.count|pluralize }}</h4>
	</div>
	<div class="level-right">
		<a class="button is-outlined is-link" href="{% url 'posts:comment_create' object.pk %}">Comment</a>
	</div>
</nav>

{% for comment in object.comment_set.all %}
<article class="media">
	<div class="media-left">
		{% if user|has_upvoted_comment:comment %}
		<div class="icon has-text-centered"><a style="color:  #f48024;"
				href="{% url 'posts:comment_vote' comment.id 1 %}"><i class="fa fa-arrow-up"></i></a></div>
		{% else %}
		<div class="icon has-text-centered"><a style="color:  #131010;"
				href="{% url 'posts:comment_vote' comment.id 1 %}"><i class="fa fa-arrow-up"></i></a></div>
		{% endif %}
		<div class="has-text-centered">{{ comment.upvotes }}</div>
		{% if user|has_downvoted_comment:comment %}
		<div class="icon has-text-centered"><a style="color:  #f48024;"
				href="{% url 'posts:comment_vote' comment.id 0 %}"><i class="fa fa-arrow-down"></i></a></div>
		{% else %}
		<div class="icon has-text-centered"><a style="color:  #131010;"
				href="{% url 'posts:comment_vote' comment.id 0 %}"><i class="fa fa-arrow-down"></i></a></div>
		{% endif %}
	</div>
	<div class="media-content">
		<div class="content">
			<nav class="level mb-0">
				<div class="level-left">
					<div class="level-item">
						<a
							href="{% url 'users:profile' post.author.username %}"><strong>{{ comment.author }}</strong></a>
						<small>{{ object.date_posted|date:"F d, Y" }}</small>
					</div>
				</div>
				{% if comment.author == request.user %}
				<div class="level-right">
					= <a class="button is-white" aria-haspopup="true" aria-controls="edit"
						href="{% url 'posts:comment_edit' object.pk comment.id %}">
						<div class="icon is-large">
							<i class="fas fa-cog"></i>
						</div>
					</a>
				</div>
				{% endif %}
			</nav>
			<p>{{ comment.content }}</p>
		</div>
	</div>
</article>
{% endfor %}

{% endblock main %}